<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Configuration Manager</title>
	
	<style type="text/css">
    button.ui-button {
        margin-right: .5rem;
         font-size: .5rem
    }
    
     
</style>

 </h:head>

<h:body>
	<div class="card">
		<h:form>

			<div class="card">
				<p:dataTable   var="config" value="#{dtBasicView.configurations}"
					paginator="true" rows="2" styleClass="p-mt-2"
					selection="#{dtBasicView.selectedConfigurations}"
					 rowKey="#{config.id}"
					 filteredValue="#{dtBasicView.filteredConfigurations}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} 	 {NextPageLink} {LastPageLink}">
					<f:facet name="header">
           Configurations
        </f:facet>

					<f:facet name="paginatorTopRight"  >
					 
						<p:commandButton type="button" 	icon="pi pi-download"	     styleClass="rounded-button ui-button-info"  />
						<p:commandButton type="button" icon="pi pi-plus-circle"  styleClass="rounded-button ui-button-info"  />
						<p:commandButton type="button"  icon="pi pi-file-excel"   styleClass="rounded-button ui-button-danger"  />
						<p:commandButton type="button"  icon="pi pi-file-pdf"		styleClass="rounded-button ui-button-success"   />
				
					</f:facet>
            <p:column style="width : 20px" selectionMode="multiple" exportable="false"></p:column>
 
 
 					<p:column   headerText="Name"   filterPosition="top" filterBy="#{config.name}">
						<h:outputText value="#{config.name}" />
					</p:column>

					<p:column headerText="Status">
						<h:outputText value="#{config.status}" />
					</p:column>

					<p:column headerText="Description">
						<h:outputText value="#{config.description}" />
					</p:column>

					<p:column headerText="Bics">
						<h:outputText value="#{config.bics}" />
					</p:column>


 				<p:column exportable="false">
 				    <p:commandButton style="height :25px; width: 25px;" icon="pi pi-check" styleClass="rounded-button ui-button-outlined" />
 				    <p:commandButton style="height :25px; width: 25px;" icon="pi pi-times" styleClass="rounded-button ui-button-outlined" />
 				    <p:commandButton style="height :25px; width: 25px;" icon="pi pi-ban" styleClass="rounded-button ui-button-outlined" />
 				    <p:commandButton style="height :25px; width: 25px;" icon="pi pi-play" styleClass="rounded-button ui-button-outlined" />
 				
 	 

 </p:column>

					<f:facet name="paginatorBottomRight">
						<p:commandButton   	icon="pi pi-download"	     styleClass="rounded-button ui-button-info"  />
						<p:commandButton  icon="pi pi-plus-circle"  styleClass="rounded-button ui-button-info"  />
						<p:commandButton    icon="pi pi-file-excel"   styleClass="rounded-button ui-button-danger"  />
						<p:commandButton    icon="pi pi-file-pdf"		styleClass="rounded-button ui-button-success"   />
									</f:facet>
				</p:dataTable>
			</div>
		</h:form>
	</div>
</h:body>
</html>