/* --- Font setting --- */
/* -------------------- */
.label, .basicLabel, .dirtyLabel, .labelMenuItem, .radio, .checkBox,
	.textField, .comboBox, .dateField, .timeField, .errorMessage,
	.blackLabel {
	font-family: EastNetsWebFont, Tahoma, Arial, sans-serif;
	font-size: 11px !important;
}

.label {
	font-size: 12px !important;
}

/* --- Buttons --- */
/* --------------- */

.importantButton {
	font-weight: bold;
}

/* --- Labels --- */
/* -------------- */
.label {
	color: #05305b;
	white-space: nowrap;
}

.basicLabel {
	color: #05305b;
	white-space: nowrap;
}

.hyperlinkLabel {
	color: #7595b7 !important;
}

.hyperlink {
	font-family: EastNetsWebFont, Tahoma, Arial, sans-serif;
	color: black;
	vertical-align: middle;
}

.dirtyLabel {
	color: #ff0000;
	white-space: nowrap;
}

.blackLabel {
	color: #000000;
	margin-left: 10px;
}

.labelMenuItem {
	color: #05305b;
	white-space: nowrap;
}

.mandatoryLabel {
	color: red;
	margin-left: 0px !important;
	width: 10px;
}

.pageNavigationLabel {
	margin-bottom: 3px !important;
}

/* --- Radio buttons --- */
/* --------------------- */
.radio {
	color: #05305b;
	vertical-align: baseline;
	margin: 0px;
	margin-right: 10px;
	height: 18px;
}

/* --- Check boxes --- */
/* ------------------- */
.checkBox {
	color: #05305b;
	white-space: nowrap;
}

/* --- Text fields --- */
/* ------------------- */
.textField {
	color: #000000;
	background-color: #FFFFFF;
	border: solid 1px #7f9db9;
	padding: 1px 3px 1px 3px;
	margin-right: 5px;
}

.disabledField, .disabledField>input {
	background: #f6f6f6 !important;
	color: #555555 !important;
}

.onlyViewTextField {
	background-color: $primaryLightColor;
}

.newTargetPageField {
	padding-left: 0px !important;
	padding-right: 0px !important;
	width: 25px;
}

/* --- Combo boxes --- */
/* ------------------- */
.comboBox {
	color: #000000;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #7f9db9;
}

/* --- Date / time --- */
/* ------------------- */
.dateField {
	color: #000000;
	background-color: #FFFFFF;
	border: solid 1px #7f9db9;
	width: 80px;
	padding: 1px 3px 1px 3px;
}

.timeField {
	color: #000000;
	background-color: #FFFFFF;
	border: solid 1px #7f9db9;
	width: 50px;
	padding: 1px 3px 1px 3px;
}

/* --- Error messages labels --- */
/* ----------------------------- */
.errorMessage {
	color: red;
	display: inline;
	list-style-type: none;
	margin-left: 10px;
	text-align: center;
	width: 100%;
}

.errorLabel {
	color: red;
	margin-right: 25px;
}

.infoMessage {
	color: green;
	display: inline;
	list-style-type: none;
	margin-left: 10px;
	text-align: center;
	width: 100%;
}

.infoLabel {
	color: green;
	margin-right: 25px;
}

.sortColumn {
	text-decoration: none;
	color: #FFFFFF;
}

.field {
}

.fa {
	padding-top: 2px;
	color: #888888;
}

.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper {
	overflow-x: hidden !important;
}

.ui-fileupload-buttonbar .ui-button .ui-button-text {
	background-color: white;
}

.ui-selectonemenu-panel .ui-widget-content {
	width: 100%;
}

.ui-selectonemenu-items-wrapper {
	max-height: 300px; 
	padding-right: 15px;
}

.ui-selectonemenu-panel .ui-widget-content .ui-state-highlight {
	padding-right: 15px !important;
	border: 1px solid #666666;
}

.ui-inputfield.ui-state-hover {
	box-shadow: 0 0 5px #85b2cb, 0 2px 2px #8f8f8f inset;
}

/* DISABLED / READONLY */
.ui-state-default[readonly], .ui-state-disabled.ui-inputfield, textarea[readonly],
	textarea[disabled], .ui-state-disabled .ui-inputfield, .comboBox.ui-state-disabled
	{
	background: #f6f6f6;
	color: #777777;
}

.ui-state-disabled.ui-selectonemenu, .ui-state-disabled.ui-inputfield {
	opacity: 100;	
}

.ui-state-disabled {
	opacity: .55;
	filter: alpha(opacity = 55); /* IE8 and lower */
}	

.ui-state-disabled.button {
	opacity: 0.55;
	filter: alpha(opacity = 55); /* IE8 and lower */
}

.ui-state-disabled.ui-selectonemenu .ui-icon {
	
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
}

.ui-confirm-dialog-message {
	font-family: EastNetsWebFont, Tahoma, Arial, sans-serif;
	font-size: 11px !important;
	color: #05305b;
}

.ui-confirm-dialog-severity
{
	height:32px;
	width:32px;
	background: #ff0000 url('../../img/warning.png') !important;
}

.ui-confirm-dialog .ui-widget-header
{
	white-space: nowrap !important;
}

.ui-confirm-dialog .ui-dialog-title
{
}

.ui-confirm-dialog .ui-dialog-buttonpane 
{
	white-space: nowrap !important;
}

body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-selectonemenu-row > td
{
  padding: 4px 10px 4px 10px;
}