
/* --- Font setting --- */
/* -------------------- */

.horMenuItem, .horMenuItemDisabled, .appHeadTitleText
{
	font-family: EastNetsWebFont, Tahoma, Arial, sans-serif;
#	font-size: 0.7em !important
}

/* --- General --- */
/* --------------- */

html, body 
{
	font-family: EastNetsWebFont, Tahoma, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

form 
{
	margin: 0px;
}

img 
{
	border: 0 !important;
}

/* --- Main horizontal menu --- */
/* ---------------------------- */

.horMenu 
{
	background-repeat: repeat-X;
	background-repeat: no-repeat;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	background-color: $primaryDarkerColor;
	color: #FFFFFF;
	width: 100%;
	height: 15px;
	margin: 0px;
}

.horMenuItem, .horMenuItemDisabled
{
	width: 80px;
	border: none;
	border-width: 0px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	background-color: transparent;
	color: #FFFFFF;
	padding-top: 1px;
	padding-bottom: 1px;
}

.horMenuProductDisabled 
{
	background-color: adb7c8;
	padding-top: 3px;
	padding-bottom: 2px;
	cursor: default !important;
	height:15px;
}	

.horMenuItemDisabled 
{
	cursor: default !important;
	color: #CCCCCC !important;
}

.colFullsize
{
	width: 100%;
}

/* --- Modules navigation bar --- */
/* ------------------------------ */
   
.leftBarCat 
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #002e5b;
	background-color: $primaryDarkColor;
	color: white;
	font-weight: bold;
	text-align: left;
	text-indent: 5px;
	margin-bottom:2px;
	width:35;

}

.leftBar, .leftMenuBar
{
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #002e5b;
	background-color: $primaryDarkerColor;
	height: 100%;
	margin: 0px;
	width: 39px;
}

.leftMenuBar 
{
	padding-left: 1px;
}

.moduleIcon
{
}

/* --- Application Page Header --- */
/* ------------------------------- */

.appHeadTitleText 
{
	font-family: EastNetsWebFont, Tahoma, Arial, sans-serif;
	font-weight: bold;
	font-size: 120% !important;
	color: #bfcddd;
}

.appHeadOperatorText
{
	font-family: EastNetsWebFont, Tahoma, Arial, sans-serif;
	font-weight: normal;
	font-size: 85% !important;
	color: #bfcddd;
}

.appeHeadVersionText
{
	font-family: EastNetsWebFont, Tahoma, Arial, sans-serif;
	font-weight: normal;
	font-size: 80% !important;
	color: #bfcddd;
}

.colNameContext
{
	text-align: right;
	padding-right: 10px;
	background-color: #113377;
}

.colNameContextBanner
{
background-color: #113377;
}



.wait
{
    background-color: $primaryLightColor;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    height:99%;
    text-align:center;
}

.moduleSelected
{
 text-align:center;
 border:solid 1px #00FF00;
 background: #deedf7;
 border-radius: 5px;
}
.moduleUnSelected
{
padding-bottom:1px;
padding-top:1px;
text-align:center;
}

.moduleUnSelected:hover
{
 padding-top:0px;	
 padding-top:0px;
 padding-bottom:0px;
 text-align:center;
 border:solid 1px #FF0000;
 background: #deedf7;
 border-radius: 5px;
}

.appliSelected
{
	text-align:center;
	font-family:Verdana;
	font-weight: 900;
	font-size:11px;
	margin-left:5px;
	margin-right:5px;
	color: #e6eeff;
    text-shadow: 2px 2px 4px #000000;

}


.appliNotSelected
{
	text-align:center;
	font-family:Verdana;
	font-weight: 900;
	font-size:11px;
	margin-left:5px;
	margin-right:5px;
	color: #c7c7cc;
    #text-shadow: 2px 2px 4px #000000;
}

.appliNotSelected:hover
{
	text-align:center;
	font-family:Verdana;
	font-weight: bold;
	font-size:11px;
	margin-left:5px;
	margin-right:5px;
	color: #c7c7cc;
    text-shadow: 2px 2px 4px #000000;
}

.subMenu
{
	border:1px solid #002e5b;
	background-color:$primaryDarkerColor; 
	position:fixed;
	z-index:10;	
	left:-1000px;
	margin-top:-35px;
	position:fixed;
}

.leftMenuBarCat
{
	position:fixed;
	z-index:5000;
	margin-top:13px !important;	
	background-color:$primaryDarkerColor !important;
}
