/* --- Font setting --- */
/* -------------------- */

.resultTableRow1, .resultTableRow2, th.resultTable
{
	font-family: EastnetsRegular, Tahoma, Arial, sans-serif;
}

/* --- General --- */
/* --------------- */

.errorPanel
{
	background-color: #FF0000;
	display: inline; 
	margin-bottom: 10px; 
	width: 100%;
	padding: 10px;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	color: #FFFFFF;
}

.infoPanel
{
	background-color: $mainBackgroundColor;
	border-color: green; 
	border-style: solid; 
	border-width: 1px;
	display: inline; 
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 9px;
}

.mandatoryFieldExplanationLeftText
{
	font-style: italic;
	margin-left: 10px; 
	font-size:0.7em;
}

.mandatoryFieldExplanationRightText, .explanationText
{
	font-style: italic;
	font-size:0.7em;
}

.mandatoryFieldExplanationValue
{
	color: red !important;
	font-style: italic; 
	font-size:0.7em;
}

.pageBodyRow
{
	width: 100%; 
	height: 100%;
//   background-image:url('/SPP/General/img/SWProfiling.gif');
//	background-repeat: no-repeat;
//	background-attachment:fixed;
//	background-position: bottom right;
}

.pageMenuColumn { }

.pageAppliColumn
{
	width: 100%; 
	height: 100%; 
	padding-top: 0px;
	vertical-align: top; 
}

.pageLeftMenuColumn
{
	vertical-align: top;
}

div.row 
{	
	clear: both;  
	margin: 0px;
}

div.container 
{
	padding-left: 0px;
	padding-right: 0px;
}

div.containerBloc 
{
	float: left;
}

div.topTitleHeaderPanel {
	font-size: 16px!important;
	font-family: EastnetsMedium;
	color: #464A53;
	font-weight: 600;
	margin-bottom: 8px;
	line-height: 20px;
}

div.topTitleHeaderPanel2
{
	background-color: $primaryDarkColor;  
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	border-bottom-style: none;
	color: #FFFFFF;
	display: inline;	/* IE doubled-margin bug : see http://www.positioniseverything.net/explorer/doubled-margin.html */
	float: left;
	font-weight: bold;
	margin: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 3px;
	padding-left: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	white-space: nowrap;
}


div.createTopTitleHeaderPanel
{
	background-color: #ffc37d;  
	color: #000;
}

div.finderTopTitleHeaderPanel
{
	background-color: #c1ffc5;  
	color: #000;
}

div.alternTopTitleHeaderPanel
{
	background-color: #0fa978;  
	color: #fff;
}


div.errorTopTitleHeaderPanel
{
	background-color: #ff0000;
	color: #fff;
	min-height: 36px;
	border-radius: 4px;
	font-weight: 600;
	padding: 10px;
	font-size: 14px!important;
}

div.warningTopTitleHeaderPanel
{
	background-color: #F7981C;
	color: #fff;
	min-height: 36px;
	border-radius: 4px;
	font-weight: 600;
	padding: 10px;
	font-size: 14px!important;
}

div.resultPanel .button
{
	width: auto;
	margin-right: 0px;
}

div.editorPanel, div.searchPanel
{
    clear: both;
    width: 100%;
	//background-color: $primaryLightColor;
	//border-style: solid;
	//border-width: 1px; 
	//border-color: #aaaaaa;
	display: inline;	/* IE doubled-margin bug : see http://www.positioniseverything.net/explorer/doubled-margin.html */
	float: left;
	//padding-bottom: 3px;
	//padding-top: 5px;
}
div.tabPanel55
{
    clear: both;
    width: 100%;
//	background-color: #f2f4f6;
//	#border-style: solid;
//	#border-width: 1px; 
//	#border-color: #000000;
	display: inline;	/* IE doubled-margin bug : see http://www.positioniseverything.net/explorer/doubled-margin.html */
	float: left; 
	margin: 10px;
	margin-bottom: 3px;
	margin-top: 0px; 
	padding-bottom: 3px; 
	padding-top: 5px; 	
}

.tabView55
{
	background:none;
	background-color: #f2f4f6;

}

div.alterneditorPanel, div.alternsearchPanel
{
	background-color: #aaeebb;
}


div.sectionTitleHeader 
{
	color: #05305b;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 5px;
	padding-bottom: 5px;
	padding-top: 10px;
	padding-left: 5px;
	width: 100%;
}

div.editorPanel .fakeButton 
{
 	clear: both;  
 	float: right;
 	margin-right: 10px;
 	margin-bottom: 0px;
}

div.controlNavigationPanel 
{
	float: left;
	padding: 1px;
	display: inline;
	padding-bottom: 5px;
	margin-left: 13px;
}

/* --- Search panels --- */
/* --------------------- */

div.searchPanel 
{
	white-space: nowrap;
}

div.containerBloc div.row span.label 
{
 	float: left;
 	text-align: left;
 	margin-top: 3px;
 	margin-bottom: 2px;
 	margin-left: 15px;
 }
 
div.containerBloc div.row .label 
{
 	float: left;
 	text-align: left;
 	margin-top: 3px;
 	margin-bottom: 2px;
 	margin-left: 15px;
 }


div.containerBloc div.row .field 
{
 	//float: left;
 	margin-top: 1px;
}

div.searchPanel .button 
{
 	clear: both;  
 	float: right;
 	margin-right: 10px;
 	margin-bottom: 0px;
 	width: auto;
}

/* --- Result tables --- */
/* --------------------- */

div.resultPanel 
{
 	float: left;
	display: inline;
	clear: both;
	width: 100%;
	//border: 1px solid #aaaaaa;
}

div.cssTable
{
 	float: left;
	display: inline;
	clear: both;
	width: 100%;
	margin: 10px;
	border: 1px solid #aaaaaa;
	margin-bottom: 0px;
	margin-top: 0px; 
	padding-bottom: 0px; 
	padding-top:0px; 	
	
}

div.cssSettings
{
 	float: left;
	margin-top:0px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline;
	clear: both;
	width: 100%;
	border: 1px solid #aaaaaa;
	border-top:0px;
}
div.cssFloatInvert
{
	float:right;
}

div.detailsPanel 
{
 	float: left;
	margin: 10px;
	background-color: $primaryLightColor;
	margin-top: 0px;
	display: inline;
	clear: both;
	width: 100%;
	border: 1px solid #aaaaaa;
}
  
table.resultTable 
{
	background-color: lightGrey;
	white-space: nowrap;
	width: 100%;
}

table.resultTable2 
{
	background-color: lightGrey;
	white-space: nowrap;
	float: left;
    border-color:#aaaaaa;
    border-style:solid;
    border-width:1px;
}


div.tableNavigationPanel .textField
{
	text-align: center; 
	height: 100%; 
	margin-left: 2px;
	margin-right: 0px;
//	#margin-top: 2px !important; 
//	#margin-bottom: 0px !important;
	padding-left: 5px;
	padding-right: 5px;
}

div.controlNavigationPanel .button
{
	margin-left: 0px;
	margin-right: 1px;
}

.resultTableRow1 
{
	color: #aaaaaa;
	background-color: #f2f4f6;
	text-indent: 3px;
}

.resultTableRow2 
{
	color: #aaaaaa;
	background-color: #fbfbfb;
	text-indent: 3px;
}

a.resultTable 
{
	color: #5ca774;
}

.colDefault 
{ 
	white-space: nowrap; 
}

.firstColCheckbox
{
	width: 30px;
}

.colNumber 
{
/* 	padding-right: 25px; */
	text-align: right;
}

.colSmallNumber 
{
	text-align: right;
	width: 30;
}

div.tableNavigationPanel 
{
	//float: left;
	margin-top:2px;
	padding: 1px 2px 1px 1px;
	text-align: right;
}

th.resultTable 
{
	color: #FFFFFF;
	background-color: $primaryDarkColor;
	text-align: left;
	padding-left: 5px;
	height: 18px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #aaaaaa;
}
th.alternresultTable 
{
	background-color: #0fa978;	
}

tfoot tr td.resultTable 
{
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #aaaaaa;
	background-color: $primaryDarkerColor;
	padding: 0px;
}
tfoot tr td.alternresultTable 
{
	background-color: #6de38b;	
}

div.editorPanel .button
{
	width: auto;
}	

div.tableNavigationPanel .button 
{
	width: auto;
}

div.row input.button 
{ 
	width: auto 
}

.topHeaderFixedSize
{
	width: 360px;
}

div.controlPanelDecoration
{
	display: flex;
	justify-content: flex-end;
	//background: $primaryDarkerColor; 
	//border: 1px solid #aaaaaa; 
	//margin-bottom: 10px !important;
	//margin-left:10px;
	//margin-right:10px;
}

.divHeightNoSize
{
	height: 0px; 
	margin: 0px; 
	padding: 0px;
}

.divFullWidthNoSize
{
	float: right; 
	font-size: 0pt; 
	height: 0px;
	margin: 0px; 
	padding: 0px; 
	width: 100%; 
}

/* Note, this style cannot be defined for IE ! */
.noFloat
{
	float: none !important
}

/* Note, this style cannot be defined for IE ! */
.fullWidth
{
	width: 100%;
}

div.tabPanelPrime
{
//	border-color: #aaaaaa;
//    border-style: 10px solid #ff0000;
//    border-width: 1px;
//    clear: both;
//    display: inline;
//  float: left;
    display: inline-block;
	margin-top:-14px;
	margin-left:-4px;
	padding-right:10px;
	padding-top:15px;
    width: 100%;
	min-height:500px;
}

div.tabPanelPrimeMaster
{
//  border:1px solid #aaaaaa;
//  clear: both;
//  display: block;
//  float: left;
	margin-top:-10px;
	margin-left:-3px;
	padding-right:10px;
	padding-top:15px;
    width: 100%;
	min-height:250px;
	display: inline-block;
}


.noOverFlow
{
overflow:visible !important;
}

div.ui-dialog-content .ui-datatable table
{
	border:1px solid;
}

div.ui-dialog-content .ui-datatable thead th 
{
	margin:0px;
	padding-left:5px;
	padding-top:0px;
	border:none !important;
	background: $primaryDarkColor;
}

.floatDirNormal
{
	float:left;
}
.floatDirInvert
{
	float:right;
}
