.ui-corner-all {
  border-radius: 1px;
}

.ui-button {
  border-radius: 4px;
  padding:0px !important;
}

.ui-button-text
{
 padding-top:1px !important;
 padding-bottom:1px !important;
}

.ui-inputfield, .ui-widget-content .ui-inputfield {
  box-shadow: none;
  	padding: 2px;
  
}
.ui-inputfield
{
  font-size: 14px !important;
  padding: 2px 10px !important;
}


.ui-fieldset-content .ui-datatable thead th {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: $primaryDarkColor;
  background-image: none;
  color: #ffffff !important;
  border-top: none;
  border-left: none;
  border-color: #aaaaaa;
  text-shadow: none;
  font-weight: bold;
  box-shadow: none;
}

.ui-fieldset .ui-fieldset-legend
{
  padding-top:1px !important;
  padding-bottom:1px !important;
}


.tableList .ui-datatable thead th {
  padding-top: 0px;
  padding-bottom: 0px;
}

.ui-datatable .ui-paginator {
  padding: 0 !important;
  background-color: $primaryDarkerColor;
  background-image: none;
  color: #05305B;
  text-shadow: none;
  border: 1px solid #aaaaaa !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  border-radius: 5px;
}

.ui-paginator-rpp-options
{
  padding: 0 !important;
  margin-top:0 !important;
  margin-bottom:1px !important;
  vertical-align:none !important;
}
.ui-paginator .ui-paginator-rpp-options
{
 vertical-align:none !important;
}

.ui-paginator .ui-paginator-current
{
  padding : 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left:6px !important;
}
 


body .ui-paginator .ui-paginator-first, body .ui-paginator .ui-paginator-prev, body .ui-paginator .ui-paginator-next, body .ui-paginator .ui-paginator-last
{
  height:18px;
  margin-top:5px;
  line-height:1.4 ;
}


.ui-datatable .ui-paginator .ui-state-default .ui-icon {
  
}

.ui-state-active .ui-icon {
  
}

.ui-datatable .ui-sortable-column-icon {
  color: #ffffff;
}

.ui-datatable tbody td {
  font-size: 1rem ;
}

.ui-datatable thead th {
  font-size: 1rem;
  overflow: visible;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  text-shadow: none;
  background: none repeat scroll 0 0 #e7e7e7;
}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border-color: $primaryDarkerColor;
}



.ui-datatable .ui-state-default .ui-icon {
  
}

.ui-datatable .ui-selectonemenu .ui-state-default .ui-icon {
  
}

.ui-datatable .ui-state-default .ui-icon-check {
  
}

.googleimage {

}

.ui-state-hover, .ui-state-focus {
  	background: #f2f4f6;
}

.ui-inputtextarea-resizable {
  height: auto !important;
  font-size: 0.7em;
}

.ui-overlaypanel {
  padding: 0;
  font-size: 0.5em;
}

.ui-menu .ui-menuitem-link {
  font-size: 0.8em;
  line-height: 10px;
  font-weight: bold;
}

.ui-menu {
  width: 100%;
}

.ui-picklist .ui-picklist-list {
  width: 400px;
}

.ui-picklist .ui-picklist-list li {
  margin: 1px 10px;
  padding: 0px;
}

.ui-datatable tbody td .ui-datagrid-column {
  border-style: none;
}

.ui-datatable tbody td .ui-datagrid-column .ui-state-hover {
  background: blue;
}

.ui-datatable .ui-expanded-row-content {
  background: none;
  text-decoration: underline;
}


.ui-column-dnd-bottom {
  display: none;
}


.ui-inputtextarea-resizable .ui-state-focus {
  background: none;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {

}

.ui-expanded-row-content .ui-datatable thead th {
  background-color: #a292de;
}

.ui-expanded-row-content .ui-datatable tbody td {
  background-color: #dae6f2;
}

.ui-datatable td {
  padding: 3px 10px !important;
}

.ui-datatable-odd {
  background: none repeat scroll 0 0 $datatableBodyRowOddBg;
}

.ui-selectonemenu-trigger {
  
}

.ui-paginator {
  color:$primaryLightColor  !important;
}
.ui-paginator-current{
  color:$primaryLightColor !important;
}

.ui-paginator-first {
  background-color:$primaryLightColor;
  border-color: $primaryLightColor !important;
  border-radius: 4px !important;
}

.ui-paginator-prev {
  background-color:$primaryLightColor;
  border-color: $primaryLightColor !important;
  border-radius: 4px !important;
}

.ui-paginator-next {
  background-color:$primaryLightColor;
  border-color: $primaryLightColor !important;
  border-radius: 4px !important; 
}

.ui-paginator-last {
  border-color: $primaryLightColor !important;
  border-radius: 4px !important;
  background-color:$primaryLightColor;
}

.ui-paginator-rpp-options, .ui-paginator-jtp-select {
  border-color: $primaryLightColor !important;
  border-radius: 4px !important;
  background-color:$primaryLightColor;
}

.ui-datatable .ui-button-icon-only .ui-icon {
  
}

button.ui-button-icon-only {
  height: 18px;
  margin-top: -3px;
  width: 2.4em;
}

.pe-timepicker-input {
  font-size: 1em !important;
  margin-top: 1px;
  text-align: center;
  width: 40px;
}

.ui-accordion .ui-accordion-header {
  background: $primaryLightColor;
  color: #000000;
  padding-left: 30px;
}

.ui-fieldset {
  background: $tabBackGroundColor !important;
}

.ui-state-focus .ui-icon {
  
}

.ui-datatable-tablewrapper {
  overflow: hidden;
}

.ui-messages-info, .ui-messages-warn, .ui-messages-error,
.ui-messages-fatal {
  border: 1px solid;
  margin: 0px !important;
 }
.ui-messages
{
  margin: 0px !important; 
}
 

.ui-button .ui-icon {
  
}

.ui-button{
  margin:2px !important;
  
}


.pageMenuColumn .ui-sticky-ghost {
  width: 42px;
}

.pageMenuColumn .ui-sticky {
  box-shadow: none;
}

.ui-selectlistbox-item {
  font-size: 11px !important;
  font-family: EastNetsWebFont, Tahoma, Arial, sans-serif;
}

.ui-datatable-scrollable-theadclone th span.ui-column-title {
  display: none !important;
  height: 0px;
}

//.ui-fileupload-buttonbar .ui-fileupload-choose input {
//  width: 0 !important;
//  height: 0 !important;
//  overflow: hidden;
//}

.ui-selectonemenu {
  
}

.ui-selectlistbox-list .ui-state-highlight {
  border: none !important;
  background: none !important;
  color: none !important;
}

/* Overwritte style of category when active / disable */
.disable {
  background: #c0c0c0;
}

.ui-menu .ui-icon {
  position: relative;
  top: -2px;
  font-size: 13px;
  margin-right: 3px;
  text-align: center;
}

form#welcomeForm .containerBloc .row .col1 {
  width: 200px;
}

body .ui-datatable thead th, .ui-tabs .ui-datatable thead th {
  padding-top: 2px;
  padding-bottom: 2px;
  background-image: none;
  color: #ffffff !important;
  border-top: none;
  border-left: none;
  border-color: #aaaaaa;
  text-shadow: none;
  font-weight: bold;
  box-shadow: none;
  border-radius:5px;
}

.ui-commandlink
{
  //color: $linkColor1 !important;
}

.mandatoryLabel {
	color: red;
	margin-left: 0px !important;
	width: 10px;
}

.label, .basicLabel, .dirtyLabel, .labelMenuItem, .radio, .checkBox,
	.textField, .comboBox, .dateField, .timeField, .errorMessage,
	.blackLabel {
	font-family: EastNetsWebFont, Tahoma, Arial, sans-serif;
	font-size: 11px !important;
}

.label {
	font-size: 12px !important;
}

.ui-datatable table {
    border-collapse: collapse !important;
}

body .ui-tabs .ui-tabs-panels 
{
  background:$tabBackGroundColor;
}

body .ui-fileupload .ui-fileupload-buttonbar
{
padding: .2em .4em !important;
}

body .ui-calendar.ui-trigger-calendar input.hasDatepicker
{
  margin-right:-3px!important;
  padding-bottom:3px;
}

body .ui-button.ui-button-icon-only .ui-button-text
{
  font-size:0px;
  margin-top:9px;
}

body .ui-picklist .ui-picklist-list
{
  width:400px;
}

.ui-picklist .ui-picklist-list li
{
  padding:0px !important;
  margin:0px !important;
}

body .ui-picklist .ui-picklist-caption
{
  padding:1px;
}

