form#customEntityEditorForm .containerBloc .row .col1 
{ 
	width: 50px; 
}

form#customEntityEditorForm .field
{
	margin-top: 1px;
	margin-bottom: 1px;
}

form#customEntityEditorForm .alignControlPanel
{
	margin-left: 73px;
}