form#noteEditorForm .containerBloc .row .col1 
{ 
	width: 50px; 
}

form#noteEditorForm .containerBloc .row .col2 
{ 
	width: 65px; 
}

form#noteEditorForm .field
{
	margin-top: 1px;
	margin-bottom: 1px;
}

form#noteEditorForm .alignControlPanel
{
	margin-left: 73px;
}