form#attachmentEditorForm .containerBloc .row .col1 
{ 
	width: 85px; 
}

form#attachmentEditorForm .field
{
	margin-top: 1px;
	margin-bottom: 1px;
	font-size:0.7em;
}
form#attachmentEditorForm .ui-fileupload-buttonbar .ui-fileupload-choose input
{
transform:none;
height:100%;
top:1px;
right:0px;
}
