form#pageChangePasswordForm .containerBloc .row .col1 
{ 
	width: 170px; 
}

form#pageChangePasswordForm .field
{
	margin-top: 1px;
	margin-bottom: 1px;
}

.password-meter-hidden {
	visibility: hidden;
}

.password-meter {
	position:relative;
	width: 180px;
}
.password-meter-message {
	text-align: left;
	font-weight: bold;
}
.password-meter-bg, .password-meter-bar {
	height: 4px;
	font-size: 4px;
}
.password-meter-bg {
	top: 8px;
	background: #e0e0e0;
}

.password-meter-message-very-weak {
	color: #aa0033;
}
.password-meter-message-weak {
	color: #f5ac00;
}
.password-meter-message-good {
	color: #6699cc;
}
.password-meter-message-strong {
	color: #008000;
}
.password-meter-message-too-short {
	visibility: hidden;
}

.password-meter-bg .password-meter-very-weak {
	background: #aa0033;
	width: 30px;
}
.password-meter-bg .password-meter-weak {
	background: #f5ac00;
	width: 60px;
}
.password-meter-bg .password-meter-good {
	background: #6699cc;
	width: 135px;
}
.password-meter-bg .password-meter-strong {
	background: #008000;
	width: 180px;
}
.password-meter-bg .password-meter-too-short {
	visibility: hidden;
}
#pageChangePasswordForm{
	width: 100% !important;
}
.change-password-button-component{
	height: 30px !important;
	width: 30% !important;
	margin-top: 5px !important;
}
.change-password-button-components-align{
	display: flex;
	flex-direction: column;
	align-items: center;
}
