form#pageLoginForm .containerBloc .row .col1 
{ 
	width: 80px; 
}

form#pageLoginForm .field
{
	margin-top: 1px;
	margin-bottom: 1px;
}

form#pageLoginForm .hyperlink
{
	font-family: EastnetsRegular, Tahoma, Arial, sans-serif;
	color: black;
	vertical-align: middle;
}

.loginform{
	height:100% !important;
	width: 100% !important;
	margin-top: 30% !important;
}
.login-button{
	width: 65% !important;
}
.login-components{
	width: auto!important;
	height: 30px !important;
	margin-top: 5px !important;
}

.default-btn.login-components{
	width: 160px!important;
}

.infoMessage{
	color: green !important;
	font-weight: bold !important;
}
.change-password-reset-button {
	background-color: transparent !important;
	color: #EAEBEC !important;
	font-weight: bold !important;
	border-color: transparent !important;
}