form#emailEditorForm .containerBloc .row .col1 
{ 
	width: 50px; 
}

form#emailEditorForm .field
{
	margin-top: 1px;
	margin-bottom: 1px;
}

form#emailEditorForm .alignControlPanel
{
	margin-left: 73px;
}