<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Configuration</title>

	<style>
.ui-fieldset {
	border: 1px solid #dee2e6;
	background: #ffffff;
	color: #495057;
	padding: 1rem;
	border-radius: 10px;
}
</style>

</h:head>




<h:body>
	<div class="p-formgrid p-grid">

		<h:form>

			<div class="p-field p-col-12 p-md-4">
				<p:outputLabel value="#{msg['label.bic']} " for="@next" />
			</div>
			<div class="p-field p-col-12 p-md-4">

				<p:selectOneMenu id="bic" value="#{mailNotification.bic}"
					style="width:150px">
					<f:selectItems value="#{mailNotification.bicsMap}" />
				</p:selectOneMenu>
			</div>
			<br></br>
			<div class="p-field p-col-12 p-md-4" style="width: 80%">

				<p:fieldset legend="#{msg['label.bicMailConfig']}">

					<p:panelGrid columns="2" layout="grid"
						styleClass="showcase-text-align-center">
						<p:selectBooleanCheckbox value="#{mailNotification.enabled}"
							itemLabel="#{msg['label.enabled']}" />
						<p:outputLabel value="" />

						<p:outputLabel value="#{msg['label.subject']}" />
						<p:inputText />

						<p:outputLabel value="#{msg['label.from']}" />
						<p:inputText />

						<p:outputLabel value="#{msg['label.to']}" />
						<p:inputText />

						<p:outputLabel value="#{msg['label.cc']}" />
						<p:inputText />


						<p:outputLabel value="#{msg['label.bcc']}" />
						<p:inputText />



					</p:panelGrid>

				</p:fieldset>

			</div>


		</h:form>
	</div>

</h:body>
</html>