<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Configuration</title>
	  <h:outputStylesheet name="css/primeflex.min.css" />  
 	<!-- <h:outputStylesheet name="primefaces-freya-eastnets-new-dark/theme.css" /> -->
 	
 <!-- <h:outputStylesheet	name="primefaces-freya-eastnets-new-light/theme.css" /> -->

	<!-- <style>
.ui-fieldset {
	border: 1px solid #dee2e6;
	background: #ffffff;
	color: #495057;
	padding: 1rem;
	border-radius: 10px;
}
</style> -->

</h:head>

<h:body>
	<p:growl id="msg" showDetail="true" escape="false" />


	<div class="layout-content" style="background-color: #f2f2f2;">

		<div class="content-section introduction"
			style="background-color: #ffffff;">
			<h5 class="p-mt-0">Configuration</h5>
		</div>
		<div class="content-section implementation"
			style="border-radius: 4px; box-sizing: border-box; padding: .5rem;">
			<div class="card"
				style="background-color: #ffffff; border-radius: 16px; padding: 1rem;">


				<p:fieldset legend="General">
					<div>
						<p:outputLabel>Configuration Name*</p:outputLabel>
						<p:inputText style="margin-right:10px" />
						<p:outputLabel>Description</p:outputLabel>

						<p:inputText />
					</div>
				</p:fieldset>


				<div class="card">
					<p:tabView>
						<p:tab title="#{msg['label.preCondition']}">


							<div class="card" style="display: inline-block">

								<div class="card"
									style="padding: .25rem; width: 50%; float: left;">


									<p:fieldset legend="BicCodes*" style="border-radius: 10px;">

										<p:pickList id="PojoPickList"
											value="#{addEditView.preConditionView.bics}" var="bic"
											itemValue="#{bic}" itemLabel="#{bic.code}"
											showCheckbox="true" filterMatchMode="contains"
											converter="#{bicConverter}" responsive="true">

											<f:facet name="sourceCaption">#{msg['label.picklist.bic.avaliable']}</f:facet>
											<f:facet name="targetCaption">#{msg['label.picklist.bic.selected']}</f:facet>

											<p:ajax event="transfer"
												listener="#{addEditView.preConditionView.onTransferBic}"
												update="msg" />
											<p:ajax event="select"
												listener="#{addEditView.preConditionView.onSelectBic}"
												update="msg" />
											<p:ajax event="unselect"
												listener="#{addEditView.preConditionView.onUnselectBic}"
												update="msg" />
											<p:ajax event="reorder"
												listener="#{addEditView.preConditionView.onReorderBic}"
												update="msg" />



											<p:column style="width:94%">
												<div class="p-d-flex p-ai-center">
													<h:outputText value="#{bic.code}" />
												</div>
											</p:column>

										</p:pickList>



									</p:fieldset>


								</div>
								<div style="padding: .25rem; width: 50%; float: left;">
									<p:fieldset legend="UUMID Check" style="border-radius: 10px;">

										<p:pickList id="pickList"
											value="#{addEditView.preConditionView.UUMIDCheck}"
											var="UUMIDCheck" itemLabel="#{UUMIDCheck}"
											itemValue="#{UUMIDCheck}">

											<f:facet name="sourceCaption">#{msg['label.availableFields']}</f:facet>
											<f:facet name="targetCaption">#{msg['label.selectedFields']}</f:facet>

										</p:pickList>

									</p:fieldset>


								</div>
							</div>

							<div class="card" style="width: 50%">
								<p:panelGrid columns="2" layout="grid"
									styleClass="showcase-text-align-center">
									<p:outputLabel>#{msg['label.msgUnite']}</p:outputLabel>
									<p:inputText />



									<p:outputLabel>#{msg['label.msgSource']}</p:outputLabel>
									<p:inputText />


									<p:outputLabel>#{msg['label.msgUserRef']}</p:outputLabel>
									<p:inputText />



									<p:outputLabel>#{msg['label.correspondentBic']}</p:outputLabel>
									<p:inputText />

								</p:panelGrid>
							</div>


						</p:tab>

						<p:tab title="#{msg['lable.configuration']}">



							<div class="ui-fluid p-formgrid p-grid">
								<div class="p-field p-col">
									<p:outputLabel value="#{msg['label.formate']}" />
									<p:selectOneMenu id="option"
										value="#{addEditView.configurationView.selectedMsgFormat}">
										<f:selectItems
											value="#{addEditView.configurationView.msgFormates}" />

									</p:selectOneMenu>
								</div>




								<div class="p-field p-col">
									<p:outputLabel for="@next" value="#{msg['label.syntax']}" />
									<p:selectOneMenu id="option2"
										value="#{addEditView.configurationView.selectedSyntaxVersion}">
										<f:selectItems
											value="#{addEditView.configurationView.syntaxVersions}" />

									</p:selectOneMenu>
								</div>


								<div class="p-field p-col">
									<p:outputLabel value="#{msg['label.type']}" />
									<p:selectOneMenu id="option3"
										value="#{addEditView.configurationView.selectedFinMsgType}">
										<f:selectItems
											value="#{addEditView.configurationView.finMsgTypes}" />

									</p:selectOneMenu>
								</div>

								<div class="p-field p-col">
									<p:outputLabel value="#{msg['label.duplicateCheck']}" />
									<div>

										<p:selectOneRadio id="console"
											value="#{addEditView.configurationView.duplicateType}"
											unselectable="true">
											<f:selectItem itemLabel="#{msg['label.fullDup']}"
												itemValue="1" />
											<f:selectItem itemLabel="#{msg['label.partDup']}"
												itemValue="2" />
										</p:selectOneRadio>
									</div>
								</div>
							</div>



							<!-- =============================================================================================================================================== -->
							<p:treeTable
								value="#{addEditView.configurationView.configFieldsRoot}"
								var="node" selectionMode="checkbox" scrollable="true"
								scrollHeight="500"
								selection="#{addEditView.configurationView.selectedNodes}">
								<p:column headerText="Name">
									<h:outputText value="#{node.desc}" />
								</p:column>
								<p:column headerText="Size">
									<h:outputText value="#{document.tag}" />
								</p:column>

							</p:treeTable>




						</p:tab>
						<p:tab title="#{msg['label.mailConfig']}">

							<h:form>

								<div class="p-field p-col-12 p-md-4">
									<p:outputLabel value="#{msg['label.bic']}" for="@next" />
								</div>
								<div class="p-field p-col-12 p-md-4">

									<p:selectOneMenu id="bic"
										value="#{addEditView.mailNotification.bic}"
										style="width:150px">
										<f:selectItems value="#{addEditView.mailNotification.bicsMap}" />
									</p:selectOneMenu>
								</div>
								<br></br>
								<div class="p-field p-col-12 p-md-4">



									<p:fieldset legend="#{msg['label.bicMailConfig']}">



										<div class="card">

											<div class="p-field p-grid">
												<!-- 	<p:outputLabel for="firstname3" styleClass="p-col-fixed"
														style="width:100px" value="Firstname" />
 -->
												<div class="p-col">
													<p:selectBooleanCheckbox
														value="#{addEditView.mailNotification.enabled}"
														itemLabel="#{msg['label.enabled']}" />
												</div>
											</div>

											<div class="p-field p-grid">
												<p:outputLabel for="@next" styleClass="p-col-fixed"
													style="width:100px" value="#{msg['label.subject']}" />
												<div class="p-col">
													<p:inputText />
												</div>
											</div>

											<div class="p-field p-grid">
												<p:outputLabel for="@next" styleClass="p-col-fixed"
													style="width:100px" value="#{msg['label.from']}" />
												<div class="p-col">
													<p:inputText />
												</div>
											</div>
											<div class="p-field p-grid">
												<p:outputLabel for="@next" styleClass="p-col-fixed"
													style="width:100px" value="#{msg['label.to']}" />
												<div class="p-col">
													<p:inputText />
												</div>
											</div>

											<div class="p-field p-grid">
												<p:outputLabel for="@next" styleClass="p-col-fixed"
													style="width:100px" value="#{msg['label.cc']}" />
												<div class="p-col">
													<p:inputText />
												</div>
											</div>

											<div class="p-field p-grid">
												<p:outputLabel for="@next" styleClass="p-col-fixed"
													style="width:100px" value="#{msg['label.bcc']}" />
												<div class="p-col">
													<p:inputText />
												</div>
											</div>
											<!-- 	<p:panelGrid columns="2" layout="grid"
												styleClass="showcase-text-align-center">
												
												<p:outputLabel value="" />

												 
												<p:outputLabel value="#{msg['label.from']}" />
												<p:inputText />

												<p:outputLabel value="#{msg['label.to']}" />
												<p:inputText />

												<p:outputLabel value="#{msg['label.cc']}" />
												<p:inputText />


												<p:outputLabel value="#{msg['label.bcc']}" />
												<p:inputText />



											</p:panelGrid>

										 -->
										</div>
									</p:fieldset>

								</div>


							</h:form>


						</p:tab>
						<p:tab title="#{msg['label.excludedList']}">

							<div class="p-grid">
								<div class="p-col">
									<div class="p-formgroup-inline">

										<div class="p-field">
											<p:inputText styleClass="p-mr-3" />
											<p:commandButton type="button" icon="pi pi-plus"
												styleClass="rounded-button  p-mr-1" />
											<p:commandButton type="button" icon="pi pi-minus"
												styleClass="rounded-button " />
										</div>
									</div>

									<div class="card">
										<p:orderList
											value="#{addEditView.excludedListView.excludedLogicalTerminals}"
											var="logterm" itemValue="#{logterm}"
											converter="#{excludedListConvertor}" controlsLocation="none"
											responsive="true">

											<f:facet name="caption">#{msg['label.excludedLogTerm']}</f:facet>

											<p:column>
												<h:outputText value="#{logterm.name}" />
											</p:column>
										</p:orderList>
									</div>

								</div>
								<div class="p-col" style="margin-left: 10px">
									<div class="p-formgroup-inline">

										<div class="p-field">
											<p:inputText styleClass="p-mr-3" />
											<p:commandButton type="button" icon="pi pi-plus"
												styleClass="rounded-button   p-mr-1" />
											<p:commandButton type="button" icon="pi pi-minus"
												styleClass="rounded-button  " />
										</div>
									</div>

									<div class="card">
										<p:orderList
											value="#{addEditView.excludedListView.excludedReferences}"
											var="ref" itemValue="#{ref}"
											converter="#{excludedListConvertor}" controlsLocation="none"
											responsive="true">

											<f:facet name="caption">#{msg['label.excludedLogReferences']}</f:facet>


											<p:column>
												<h:outputText value="#{ref.name}" />
											</p:column>
										</p:orderList>
									</div>
								</div>
								<div class="p-col"></div>
							</div>






						</p:tab>
						<p:tab title="#{msg['label.settings']}">

							<div class="p-formgroup-inline" style="width: 90%">


								<div class="p-field p-grid">
									<div class="p-field">
										<p:outputLabel style="margin-right:10px;"
											for="retentionPeriod" class="p-sr-only">#{msg['label.retentionPeriod']}</p:outputLabel>

										<p:inputNumber decimalPlaces="0" id="retentionPeriod"
											value="#{addEditView.settingsView.retentionPeriod}"
											modifyValueOnWheel="false" />
										<p:outputLabel style="margin-right:10px;" class="p-sr-only">( #{msg['label.days']} )</p:outputLabel>

									</div>

								</div>
							</div>

							<div class="card" style="width: 80%">

								<p:fieldset legend="#{msg['label.checkdupPDe']}">
									<div class="p-field-radiobutton">

										<p:selectBooleanCheckbox
											value="#{addEditView.settingsView.checkdupPDEOutgoing}"
											itemLabel="#{msg['label.outgoingMsg']}" />

									</div>
									<br></br>
									<div class="p-field-radiobutton">
										<p:selectBooleanCheckbox
											value="#{addEditView.settingsView.checkdupPDEIncoming}"
											itemLabel="#{msg['label.incomingMsg']}" />

									</div>



								</p:fieldset>
								<br></br>
								<!-- ==================================================================================================================================================== -->

								<p:fieldset legend="#{msg['label.checkRetrieved']}">

									<div class="p-field p-grid">
										<p:selectBooleanCheckbox
											value="#{addEditView.settingsView.checkRetrieved}"
											itemLabel="#{msg['label.checkRetrievedMsg']}" />

									</div>

								</p:fieldset>
								<br></br>
								<!-- ==================================================================================================================================================== -->


								<p:fieldset legend="#{msg['label.purgTime']}">


									<div class="p-formgroup-inline">
										<div class="p-field">

											<p:outputLabel for="purgeTime" class="p-col-fixed"
												style="width:192px">#{msg['label.dailyPurgeTime']}</p:outputLabel>
											<p:datePicker id="purgeTime" timeOnly="true" pattern="HH:mm"
												value="#{addEditView.settingsView.purgeTime}" />
										</div>
										<div class="p-field">

											<p:selectOneRadio id="console2"
												value="#{addEditView.settingsView.purgeKeepOrREmove}"
												unselectable="true">
												<f:selectItem itemLabel="#{msg['label.purgeKeep']}"
													itemValue="#{purgeKeepRemove.statuses[0].id}" />
												<f:selectItem itemLabel="#{msg['label.purgeRemove']}"
													itemValue="#{purgeKeepRemove.statuses[1].id}" />
											</p:selectOneRadio>
										</div>
									</div>
									<!-- =========================================================================================================================================================================== -->

									<div class="p-field p-grid">

										<p:outputLabel class="p-col-fixed" style="width:200px"
											for="lastPurgeTime">
							#{msg['label.lastPurgeFinishedAt']}</p:outputLabel>
										<div class="p-col">
											<p:datePicker id="lastPurgeTime"
												value="#{addEditView.settingsView.lastPurgTime}"
												timeOnly="true" pattern="HH:mm" />
										</div>

									</div>

									<!-- =========================================================================================================================================================================== -->
									<div class="p-field p-grid">

										<p:outputLabel class="p-col-fixed" style="width:200px"
											for="nextPurgeTime">
							#{msg['label.nextPurgeStartAt']}</p:outputLabel>
										<div class="p-col">
											<p:datePicker id="nextPurgeTime"
												value="#{addEditView.settingsView.nextPurgeTime}"
												timeOnly="true" pattern="HH:mm" />
										</div>

									</div>
								</p:fieldset>
								<br></br>
								<!-- ==================================================================================================================================================== -->

								<p:fieldset legend="#{msg['label.recovery']}">
									<div class="p-formgroup-inline">
										<div class="p-field-checkbox">
											<p:selectBooleanCheckbox
												value="#{addEditView.settingsView.enableRecovery}"
												itemLabel="${msg['label.enableRecovery']}" />

										</div>
									</div>
								</p:fieldset>
								<br></br>
								<!-- ==================================================================================================================================================== -->



							</div>

						</p:tab>

					</p:tabView>
				</div>

				<div class="card" style="width: 50%">
					<p:button value="${msg['SAVE']}" style=" margin-right: .5rem" />
					<p:button value="${msg['CANCEL']}" />


				</div>

			</div>

		</div>











	</div>




</h:body>
</html>