<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Configuration</title>

	<style>
.ui-fieldset {
	border: 1px solid #dee2e6;
	background: #ffffff;
	color: #495057;
	padding: 1rem;
	border-radius: 10px;
}
</style>
	<h:outputStylesheet name="css/primeflex.min.css" />

</h:head>




<h:body>



	<div class="p-grid">
		<div class="p-col">
			<div class="p-formgroup-inline">

				<div class="p-field">
					<p:inputText styleClass="p-mr-3" />
						<p:commandButton type="button" icon="pi pi-plus"
						styleClass="rounded-button  p-mr-1" />
					<p:commandButton type="button" icon="pi pi-minus"
						styleClass="rounded-button " />
				</div>
			</div>

			<div class="card">
				<p:orderList
					value="#{addEditView.excludedListView.excludedLogicalTerminals}"
					var="logterm" itemValue="#{logterm}"
					converter="#{excludedListConvertor}" controlsLocation="none"
					responsive="true">

					<f:facet name="caption">#{msg['label.excludedLogTerm']}</f:facet>
 
					<p:column>
						<h:outputText value="#{logterm.name}" />
					</p:column>
				</p:orderList>
			</div>

		</div>
		<div class="p-col" style="margin-left: 10px">
			<div class="p-formgroup-inline">

				<div class="p-field">
					<p:inputText styleClass="p-mr-3" />
					<p:commandButton type="button" icon="pi pi-plus"
						styleClass="rounded-button   p-mr-1" />
					<p:commandButton type="button" icon="pi pi-minus"
						styleClass="rounded-button  " />
				</div>
			</div>

			<div class="card">
				<p:orderList
					value="#{addEditView.excludedListView.excludedReferences}"
					var="ref" itemValue="#{ref}" converter="#{excludedListConvertor}"
					controlsLocation="none" responsive="true">

					<f:facet name="caption">#{msg['label.excludedLogReferences']}</f:facet>


					<p:column>
						<h:outputText value="#{ref.name}" />
					</p:column>
				</p:orderList>
			</div>
		</div>
		<div class="p-col"></div>
	</div>











</h:body>
</html>