<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>

	<title>Configuration</title>

	<style>
</style>
	<h:outputStylesheet name="css/primeflex.min.css" />

</h:head>




<h:body>

	<h:form>



		<!-- ========================================================================================================================================================================== -->

		<div class="p-formgroup-inline" style="width: 90%">


			<div class="p-field p-grid">
				<div class="p-field">
					<p:outputLabel style="margin-right:10px;" for="retentionPeriod"
						class="p-sr-only">#{msg['label.retentionPeriod']}</p:outputLabel>

					<p:inputNumber decimalPlaces="0" id="retentionPeriod"
						value="#{settingsView.retentionPeriod}" modifyValueOnWheel="false" />
					<p:outputLabel style="margin-right:10px;" class="p-sr-only">( #{msg['label.days']} )</p:outputLabel>

				</div>

			</div>
		</div>

		<div class="card" style="width: 80%">

			<p:fieldset legend="#{msg['label.checkdupPDe']}">
				<div class="p-field-radiobutton">

					<p:selectBooleanCheckbox
						value="#{settingsView.checkdupPDEOutgoing}"
						itemLabel="#{msg['label.outgoingMsg']}" />

				</div>
				<br></br>
				<div class="p-field-radiobutton">
					<p:selectBooleanCheckbox
						value="#{settingsView.checkdupPDEIncoming}"
						itemLabel="#{msg['label.incomingMsg']}" />

				</div>



			</p:fieldset>
			<br></br>
			<!-- ==================================================================================================================================================== -->

			<p:fieldset legend="#{msg['label.checkRetrieved']}">

				<div class="p-field p-grid">
					<p:selectBooleanCheckbox value="#{settingsView.checkRetrieved}"
						itemLabel="#{msg['label.checkRetrievedMsg']}" />

				</div>

			</p:fieldset>
			<br></br>
			<!-- ==================================================================================================================================================== -->


			<p:fieldset legend="#{msg['label.purgTime']}">


				<div class="p-formgroup-inline">
					<div class="p-field">

						<p:outputLabel for="purgeTime" class="p-col-fixed"
							style="width:192px">#{msg['label.dailyPurgeTime']}</p:outputLabel>
						<p:datePicker id="purgeTime" timeOnly="true" pattern="HH:mm"
							value="#{settingsView.purgeTime}" />
					</div>
					<div class="p-field">

						<p:selectOneRadio id="console"
							value="#{settingsView.purgeKeepOrREmove}" unselectable="true">
							<f:selectItem itemLabel="#{msg['label.purgeKeep']}"
								itemValue="#{purgeKeepRemove.statuses[0].id}" />
							<f:selectItem itemLabel="#{msg['label.purgeRemove']}"
								itemValue="#{purgeKeepRemove.statuses[1].id}" />
						</p:selectOneRadio>
					</div>
				</div>
				<!-- =========================================================================================================================================================================== -->

				<div class="p-field p-grid">

					<p:outputLabel class="p-col-fixed" style="width:200px"
						for="lastPurgeTime">
							#{msg['label.lastPurgeFinishedAt']}</p:outputLabel>
					<div class="p-col">
						<p:datePicker id="lastPurgeTime"
							value="#{settingsView.lastPurgTime}" timeOnly="true"
							pattern="HH:mm" />
					</div>

				</div>

				<!-- =========================================================================================================================================================================== -->
				<div class="p-field p-grid">

					<p:outputLabel class="p-col-fixed" style="width:200px"
						for="nextPurgeTime">
							#{msg['label.nextPurgeStartAt']}</p:outputLabel>
					<div class="p-col">
						<p:datePicker id="nextPurgeTime"
							value="#{settingsView.nextPurgeTime}" timeOnly="true"
							pattern="HH:mm" />
					</div>

				</div>
			</p:fieldset>
			<br></br>
			<!-- ==================================================================================================================================================== -->

			<p:fieldset legend="#{msg['label.recovery']}">
				<div class="p-formgroup-inline">
					<div class="p-field-checkbox">
					        <p:selectBooleanCheckbox value="#{settingsView.enableRecovery}" itemLabel="${msg['label.enableRecovery']}"/>
				 
					</div>
				</div>
			</p:fieldset>
			<br></br>
			<!-- ==================================================================================================================================================== -->



		</div>
		<!-- 
 
 
label.dailyPurgeTime=Daily Purge Time
label.purgeKeep=Purge And Keep
label.purgeRemove= Purge Remove
label.lastPurgeFinishedAt=Last Purge Finished At
label.nextPurgeStartAt=Next Purge Start At
label.enableRecovery=Enable Recovery -->

		<!-- ==================================================================================================================================================== -->







	</h:form>
</h:body>
</html>