body {
    .ui-messages {
        padding: 0;
        margin: $messagesMargin;
        font-weight: $messagesFontWeight;
        position: relative;
        border-radius: $borderRadius;
        
        > div {
            padding: $messagesPadding;
            border-radius: $borderRadius;
            margin: 0;
        }

        ul {
            margin: 0;

            .ui-messages-info-summary,
            .ui-messages-warn-summary,
            .ui-messages-error-summary,
            .ui-messages-fatal-summary {
                margin: 0 $inlineSpacing 0 0;
            }

            .ui-messages-info-detail,
            .ui-messages-warn-detail,
            .ui-messages-error-detail,
            .ui-messages-fatal-detail {
                margin: 0;
            }
        }

        .ui-messages-close {
            position: absolute;
            right: -1 * $actionIconWidth / 2;
            top: -1 * $actionIconHeight / 2;
            @include action-icon();
            text-align: center;
            transition: background-color $transitionDuration;

            .ui-icon-close {
                @include icon_override("\e90b");
            }
        }

        .ui-messages-info {
            background: $infoMessageBg;
            border: $infoMessageBorder;
            border-width: $messagesBorderWidth;
            color: $infoMessageTextColor;
            
            .ui-messages-info-icon {
                @include icon_override("\e924");
                font-size: $messagesIconFontSize;
                margin: 0 $inlineSpacing 0 0;
                color: $infoMessageIconColor;
            }
            
            .ui-messages-close {
                background: $infoMessageBg;
                color: $infoMessageIconColor;

                &:hover {
                    background: darken($infoMessageBg, 5%);
                }
            }
        }
        
        .ui-messages-warn {
            background:$warnMessageBg;
            border: $warnMessageBorder;
            border-width: $messagesBorderWidth;
            color: $warnMessageTextColor;
            
            .ui-messages-warn-icon {
                @include icon_override("\e922");
                font-size: $messagesIconFontSize;
                margin: 0 $inlineSpacing 0 0;
                color: $warnMessageIconColor;
            }
            
            .ui-messages-close {
                background:$warnMessageBg;
                color: $warnMessageIconColor;

                &:hover {
                    background: darken($warnMessageBg, 5%);
                }
            }
        }
        
        .ui-messages-error, .ui-messages-fatal {
            background: $errorMessageBg;
            border: $errorMessageBorder;
            border-width: $messagesBorderWidth;
            color: $errorMessageTextColor;
            
            .ui-messages-error-icon,
            .ui-messages-fatal {
                @include icon_override("\e90c");
                font-size: $messagesIconFontSize;
                margin: 0 $inlineSpacing 0 0;
                color: $errorMessageIconColor;
            }
            
            .ui-messages-close {
                background: $errorMessageBg;
                color: $errorMessageIconColor;

                &:hover {
                    background: darken($errorMessageBg, 5%);
                }
            }
        }
    }
    
    .ui-message {
        padding: $inputPadding;
        display: inline-block;
        border-radius: $borderRadius;

        &.ui-message-info {
            background: $infoMessageBg;
            border: $infoMessageBorder;
            border-width: $messageBorderWidth;
            color: $infoMessageTextColor;
            
            .ui-message-info-icon {
                @include icon_override("\e924");
                margin: 0;
                color: $infoMessageIconColor;
                float: none;
                width: auto;
                height: auto;
                position: relative;
                top: 1px;
            }

            .ui-message-info-detail {
                margin-left: $inlineSpacing;
            }
        }
        
        &.ui-message-warn {
            background: $warnMessageBg;
            border: $warnMessageBorder;
            border-width: $messageBorderWidth;
            color: $warnMessageTextColor;
            
            .ui-message-warn-icon {
                @include icon_override("\e922");
                margin: 0;
                color: $warnMessageIconColor;
                float: none;
                width: auto;
                height: auto;
                position: relative;
                top: 1px;
            }

            .ui-message-warn-detail {
                margin-left: $inlineSpacing;
            }
        }
        
        &.ui-message-error,&.ui-message-fatal {
            background: $errorMessageBg;
            border: $errorMessageBorder;
            border-width: $messageBorderWidth;
            color: $errorMessageTextColor;
            
            .ui-message-error-icon {
                @include icon_override("\e90c");
                margin: 0;
                color: $errorMessageIconColor;
                float: none;
                width: auto;
                height: auto;
                position: relative;
                top: 1px;
            }

            .ui-message-error-detail {
                margin-left: $inlineSpacing;
            }
        }

        &.ui-message-icon-only {
            width: auto;
            height: auto;
        }
    }

    .ui-widget + .ui-message {
        margin: 0 0 0 $inlineSpacing;
    }
    
    .ui-growl {
        top: 85px;
        z-index: 20000!important;
        
        .ui-growl-item-container {
            margin: $growlMargin;
            border-radius: $borderRadius;
            box-shadow: $overlayContainerShadow;

            .ui-icon-closethick {
                @include icon_override("\e90b");
                position: absolute;
                top: .5rem;
                right: .5rem;
            }

            .ui-growl-item {
                padding: $growlPadding;
                min-height: 70px;
            }
            
            &.ui-growl-info {
                background: $infoMessageBg;
                border: $infoMessageBorder;
                color: $infoMessageTextColor;
                border-width: $messagesBorderWidth;
                
                .ui-growl-image {
                    @include icon_override("\e924");
                    font-size: $growlIconFontSize;
                    color: $infoMessageIconColor;
                }

                .ui-icon {
                    color: $infoMessageIconColor;
                }
            }  
            
            &.ui-growl-warn {
                background: $warnMessageBg;
                border: $warnMessageBorder;
                color: $warnMessageTextColor;
                border-width: $messagesBorderWidth;
                
                .ui-growl-image {
                    @include icon_override("\e922");
                    font-size: $growlIconFontSize;
                    color: $warnMessageIconColor;
                }

                .ui-icon {
                    color: $warnMessageIconColor;
                }
            }
            
            &.ui-growl-error, &.ui-growl-fatal {
                background: $errorMessageBg;
                border: $errorMessageBorder;
                color: $errorMessageTextColor;
                border-width: $messagesBorderWidth;
                
                .ui-growl-image {
                    @include icon_override("\e90c");
                    font-size: $growlIconFontSize;
                    color: $errorMessageIconColor;
                }

                .ui-icon {
                    color: $errorMessageIconColor;
                }
            }
        }
    }
    
}