@font-face {
    font-family: 'EastnetsRegular';
    src: url("#{resource['eastnets-freya:font/proximanova-regular-webfont.woff2']}");
}
@font-face {
    font-family: 'EastnetsMedium';
    src: url("#{resource['eastnets-freya:font/proximanova-medium-webfont.woff2']}");
}
