$bodyBgColor: #232525;

$textShade100:#FFFFFF !default;
$textShade200:#EAEBEC !default;
$textShade300:#BFC2C6 !default;

//content
$wrapperBackground: $primaryColor;
$contentShade100:#3c3f41;
$contentShade200:#303A48 !default;
$contentShade300: #374250 !default;
$contentShade400:#3E4754 !default;

$dividerColor:#545B67 !default;

$menuTooltipBgColor:#5ca774;
$inputBg: #505354;

$menuTooltipTextColor:#ffffff!default;
$mainBorderColor: #494b4d;

$urlColor: #7591cc;

@import './_layout_common.scss';
