@media (min-width: $tabletBreakpoint + 1) {
    .layout-wrapper {
        &.layout-slim {
            .sidebar-logo {
                justify-content: center;
            }
            .menu-wrapper {
                width:62px;

                .layout-menu-container {
                    padding: 0;
                    
                    .layout-menu {
                        overflow: visible;

                        li {
                            position: static!important;
                        }

                        .layout-menu-tooltip {
                            display:none;
                            padding: 0 .412px;
                            position: absolute;
                            left: 72px;
                            top: 16px;
                            line-height: 1;
                            border-radius: 2px;
                            
                            .layout-menu-tooltip-text {
                               padding: 6px 8px;
                               font-weight: 500;
                               min-width: 75px;
                               white-space: nowrap;
                               text-align: center;
                               @include shadow(0 2px 10px 0 rgba(0, 3, 6, 0.16));
                            }
                            
                            .layout-menu-tooltip-arrow {
                                position: absolute;
                                width: 0;
                                height: 0;
                                border-color: transparent;
                                border-style: solid;
                                top: 50%;
                                left: -4px;
                                margin-top: -5px;
                                border-width: 5px 5px 5px 0;
                            }
                        }

                        > li {
                            position: relative;
                            padding-left: 12px;
                            padding-right: 14px;
                            padding: 10px 12px 10px 14px;

                            > a {
                                margin: 0px;
                                padding: 6px;
                                @include border-radius(12px);
                                @include flex();
                                @include flex-align-center();
                                @include flex-justify-center();
                                @include transition(all $transitionDuration);
                                position: relative;
                                border: none;

                                &:before {
                                    display: none;
                                }
                                
                                span {
                                    display: none;
                                }
            
                                i {
                                    margin-right: 0;
                                    &.layout-submenu-toggler {
                                      display: none;
                                    }
                                }
            
                                .menuitem-badge {
                                    display: none;
                                    margin-left: auto;
                                }

                                &:hover + .layout-menu-tooltip {
                                    display: block;
                                }
                            }

                            > ul {
                                position: absolute;
                                top: 0;
                                left: 62px;
                                min-width: 250px;
                                max-height: 450px;
                                display: none;
                                padding: 10px;
                                overflow: auto;

                                li {
                                    margin: 0;
                                    > a {
                                        padding: 10px 5px;
                                        > span {
                                            visibility: visible;
                                        }
                                        > i {
                                            &.layout-submenu-toggler {
                                                visibility: visible;
                                            }
                                        }
                                    }
                                    @include nested-submenu-indents(10, 2, 10);
                                }
    
                            }

                            &.active-menuitem {
                                > a {                                
                                    &:hover + .layout-menu-tooltip {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .layout-topbar {
                .layout-topbar-wrapper {
                    .layout-topbar-left {
                        .layout-topbar-logo {
                            display: none;
                        }
                    }
                }
            }
            .layout-main {
                padding-left: 62px;
            }
        }
    }
}



