$primaryColor: #3c3f41;

$shade800:#3c3f41;
$shade900:#505354;

$tabsHeaderBg: transparent;
$tabsNavBg: transparent;
$tabsHeaderActiveBg: transparent;
$tabsHeaderHoverBg:$shade800;
$tabsHeaderHoverBorderColor:#41515e;
$tabsHeaderActiveBorderColor: #03ff80;
$tabsHeaderTextActiveColor: #fff;

$inputBg: #535455;

$datatableBodyRowBg: $primaryColor;

$checkboxWidth: 16px;
$checkboxHeight: 16px;
$checkboxActiveBorderColor: #5CA774;
$checkboxActiveBg: #5CA774;
$checkboxActiveHoverBg: #5CA774;
$checkboxTextActiveColor: #ffff;
$checkboxFocusShadow:none;

$mainBorderColor: #494b4d;
$dividerColor:#545B67;

$overlayContentBorder: 5px solid $inputBg;
$highlightTextColor: #3c3f41;

$inputSwitchOffBg: #cdcecf!important;
$inputSwitchHandleOffBg:#3c3f41!important;
$inputSwitchHandleOffBorder:2px solid #cdcecf!important;
$inputSwitchHandleOnBg: #5ca774!important;

$radiobuttonActiveBg: #FFFFFF;