/* Add your customizations of the layout styles here */

.menu-wrapper {
    .layout-menu-container {
        .layout-menu {
            li {
                > a {
                    > i {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .sidebar-logo {
        padding: 0 17px;

        img {
            width: 30px;
            height: 30px;
        }
    }
}

.layout-wrapper {
    .layout-rightpanel {
        .rightpanel-wrapper {
            position: relative;
            height: 100%;

            .rightpanel-header {
                text-align: center;

                .profile {
                    padding: 12px;
                }
            }

            .rightpanel-actions {
                padding: 12px 6px 36px;

                .actions {
                    .action-buttons {
                        .p-col-6, .p-md-4 {
                            padding: .2em;
                        }
                    }
                }
            }

            .rightpanel-chat {
                .ui-tabs {
                    .ui-tabs-nav {
                        background-color:lighten($contentShade200, 4%);

                        li.ui-tabs-header {
                            padding: 1rem;

                            a {
                                font-size: 12px;
                                font-weight: 500;
                            }
                            > span {
                                font-size: 10px;
                            }
                            &.ui-state-active {
                                background-color: $contentShade200;
                            }
                        }
                    }

                    .ui-tabs-panels {
                        background-color:lighten($contentShade200, 4%);
                        .ui-tabs-panel {
                            padding: 0;

                            .chat {
                                .chat-content {

                                    .chat-message {
                                        .message {
                                            width: 80%;
                                        }
                                    }
                                }
                                .chat-input {
                                    input {
                                        width: 105px;
                                        margin-right: 7px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.layout-config {
    .layout-config-content {
        .layout-config-button {
            width: 32px;
            height: 32px;
            line-height: 32px;
            left: -31px;

            i {
                font-size: 22px;
            }
        }
    }
}

.layout-main {
    padding-top: 50px;
}

.layout-topbar-dark .layout-topbar, .layout-topbar-light .layout-topbar {
    height: 52px;
}

.layout-topbar-right .ui-outputlabel {
    font-weight: 400;
}

.layout-content {
    padding: 20px;
}

.block-wrapper {
    background-color: $wrapperBackground;
    margin-bottom: 20px!important;
    padding: 20px!important;
    border: 1px solid $mainBorderColor;
    border-radius: 9px;
}

.block-wrapper-without-padding {
    background-color: $wrapperBackground;
    margin-bottom: 20px!important;
    padding: 0!important;
    border: 1px solid $mainBorderColor;
    border-radius: 9px;
}

.reset-search-bts-wrapper {
    display: flex;
    align-items: center;
}

body .default-btn {
    height: 36px!important;
    min-width: 86px!important;
    background-color: #5CA774!important;
    border-color:  #5CA774!important;
    border-radius: 4px!important;
    color: #FFFFFF!important;
    font-weight: 400;
}

body .default-btn.ui-state-hover {
    border-color: #2F6B42!important;
    background-color: #2F6B42!important;
}

.checkBox-wrapper {
    display: flex;
    align-items: center;
}

body .select-width-and-height {
    min-width: 229px!important;
    height: 22px!important;
    max-width: 229px!important;
    display: inline-flex;
    align-items: center;

    label {
        max-width: 210px!important;
        text-overflow: ellipsis!important;
        display: inline-block!important;
        white-space: nowrap!important;
        overflow: hidden!important;
        height: inherit!important;
    }
}

.flex-align-center {
    display: flex;
    align-items: center;
}

body .ui-datatable .ui-datatable-footer {
    padding: 10px!important;
}

body div.label.topTitleHeaderPanel.editTopTitleHeaderPanel {
    margin-bottom: 16px;
}

body .ui-picklist .ui-picklist-list {
    padding: 10px;
}

body .ui-picklist-buttons-cell button {
    background: linear-gradient(
                    0deg
            , #E0E4EB 0%, #F2F7FA 96.94%);
    border-color: #CED0DA !important;
    border-radius: 4px;
    color: #7F8FA3 !important;
    height: 22px;
    min-width: 65px;
}

body .table-title {
    font-size: 16px!important;
    font-weight: 500;
    color: #464A53;
    padding: 16px 20px;
}

body textarea.ui-inputtextarea {
    font-size: 14px!important;
    padding-top: 9px!important;
}

body .ui-picklist-filter-container{
    input {
        padding-left: 25px!important;
    }
    span.ui-icon-search {
        height: 22px;
        display: flex!important;
        align-items: center;
        width: 15px;
    }
}

body .ui-selectonemenu .ui-selectonemenu-label {
    display: flex;
    align-items: center;
    height: 100%;
}

body .tableNavigationPanel {
    input.newTargetPageField {
        min-width: 43px!important;
        width: 43px!important;
        padding: 0!important;
    }
}

body .ui-inputfield.tablePageNumberInput {
    min-width: 43px!important;
    width: 43px!important;
    padding: 0!important;
}

body .ui-growl {
    min-width: 301px!important;
    width: auto!important;
}

body .ui-growl-message {
    min-width: 220px!important;
    width: auto!important;
    max-width: 700px!important;
}

body .ui-growl-title {
    font-weight: bold;
    padding: 0 0 7px 0;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

body .ui-selectonemenu-filter {
    padding: 0 0 0 25px!important;
}

body .ui-dialog .ui-dialog-titlebar {
    padding: 2rem 2rem 0;
}

body .margin-bottom-16px {
    margin-bottom: 16px!important;
}

body .tableNavigationPanelWithFewBlocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}