$tabsNavBg: transparent;
$tabsHeaderBg: transparent;
$tabsHeaderActiveBg: transparent;

$shade400:#CED0DA;

$panelHeaderTextColor: #464a53;
$panelHeaderFontWeight: 500;

$inputBg: #FFFFFF;
$inputFocusShadow: none;

$checkboxWidth: 16px;
$checkboxHeight: 16px;
$checkboxActiveBorderColor: #5CA774;
$checkboxActiveBg: #5CA774;
$checkboxActiveHoverBg: #5CA774;
$checkboxTextActiveColor: #ffff;
$checkboxFocusShadow:none;

$buttonBg:#5CA774;
$buttonBorder:1px solid #5CA774;
$buttonHoverBg: #14054d;

$calendarCellDateSelectedBg: #5CA774;
$overlayPanelCloseIconBg: #5CA774;
$calendarCellDateHoverBg: #14054d;
$calendarCellDateHoverBorderColor: #ffff;
$tooltipBg: #FFFFFF;
$tooltipTextColor: #000000;

$mainBorderColor: #DFE2E5;
$dividerColor: #DFE2E5;