/* Add your customizations of the theme variables here */

//input field
$inputPadding:.5rem .5rem;
$inputTextFontSize:1rem;
$borderRadius: 4px;
$inputTextFontSize: 40px;
$inputFocusShadow: none;

$borderRadius: 4px;