$lightColor0: #a2e3b7;
$lightColor1: #DAE6F2;
$lightColor2: #03ff80;
$darkColor1: #7595B7;
$linkColor1: rgb(0, 128, 255);

$primaryLightColor: rgb(225, 247, 233);
$primaryColor: #a2e3b7;
$primaryDarkColor: #5c4de3;
$primaryDarkerColor: rgb(100, 208, 135);
$primaryTextColor: #14054d;

$tabBackGroundColor:$primaryLightColor;
$tabsHeaderFontWeight: 500;
$tabsHeaderActiveBorderColor:#5C4DE3!important;
$tabsHeaderTextActiveColor: #354052;
$tabsHeaderTextColor: #7F8FA4;

$primaryLighterColor: rgba($primaryLightColor,.1);

$mainBackgroundColor: #FFFFFF;
$mainTextColor: #69707A;;

@import '../sass/theme/_theme_light';

body .ui-tabs .ui-tabs-panels {
  background: transparent;
}

body input.ui-inputfield {
  border-radius: 4px;
  background: #FFFFFF;
  border-color: #DFE3E9!important;
  width: 229px!important;
  min-width: 229px!important;
  height: 22px;
  margin: 8px 0;
  color: #354052;
  font-weight: 400;
  font-size: 14px!important;
}

body .ui-inputfield {
  color: #354052;
  font-weight: 400;
  font-size: 14px;
}

.label {
  font-weight: 400;
}

body input.ui-inputfield:hover {
  border-color: #CED0DA!important;
}

body input.ui-inputfield.ui-state-focus {
  border-color: #5C4DE3!important;
}

body .ui-selectonemenu {
  color: #354052;
  font-weight: 400;
  border-color: #DFE3E9!important;
  .ui-state-hover:not(.ui-state-error) {
    border-color: #CED0DA!important;
  }
  .ui-state-focus {
    border-color: #5C4DE3!important;
  }
}

body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-highlight {
  background: #5CA774!important;
  color: #ffffff;
}

body .filtering-scan-button {
  background: #5CA774!important;
  border: 1px solid #5CA774!important;
  border-radius: 4px!important;
  color: #FFFFFF!important;
  height: 36px!important;
  width: 86px!important;
  font-weight: 400!important;
}

body .filtering-scan-button:hover {
  background: #2F6B42!important;
}

body .filtering-reset-button {
  color: #5CA774!important;
  font-weight: 400!important;
}

body .ui-selectcheckboxmenu-multiple {
  border-width: 1px;
  border-color: $mainBorderColor!important;
}

body .layout-menu-light .menu-wrapper {
  background-color: #14054D;
}

body .layout-menu-light .menu-wrapper .layout-menu-container .layout-menu > li > a {
  color: #ffffff;
}

body .menu-wrapper .layout-menu-container .layout-menu li:hover {
  background-color: #2c1e5e;
  border-radius: 0;
  color: #FFFFFF;
}

body .layout-menu-light .menu-wrapper.layout-sidebar-active .layout-menu-container .layout-menu > li > a {
  color: #ffffff;
}

body .menu-wrapper .layout-menu-container .layout-menu > li > a::before {
  height: 48px;
}

body .layout-menu-light .menu-wrapper.layout-sidebar-active .layout-menu-container .layout-menu > li.active-menuitem > a::before {
  background-color: #FFFFFF;
}

body .layout-menu-light .menu-wrapper .layout-menu-container .layout-menu > li.active-menuitem > a {
  color: #FFFFFF;
}

body .layout-menu-light .menu-wrapper.layout-sidebar-active .layout-menu-container .layout-menu > li.active-menuitem > a {
  color: #FFFFFF;
}

body .ui-datatable {

  td {
    padding: 4px 20px !important;
  }

  .ui-datatable-data {
    tr {
      color: #354052;
    }
    > tr.ui-datatable-selectable {
      height: 44px;
    }
    > tr.ui-state-highlight {
      background: #14054d!important;
      color: #ffffff;
    }
  }
  thead th {
    background-color: transparent!important;
    border: none;
    color: #7F8FA4!important;
    font-weight: 400;
    padding: 4px 20px;

    span {
      color: #7F8FA4!important;
      font-weight: 400!important;
    }
  }
}

body .ui-selectcheckboxmenu-token {
  background-color: #5CA774!important;
  color: #FFFFFF!important;
}

body .layout-menu-light .menu-wrapper .layout-menu-container .layout-menu > li.active-menuitem > a::before {
  background-color: #ffffff !important;
}

body .layout-menu-light .menu-wrapper .layout-menu-container .layout-menu > li > a:hover {
  color: #ffffff!important;
}

body .ui-chkbox .ui-chkbox-box {
  border-radius: 5px!important;
  .ui-chkbox-icon {
    left: 70%;
    font-size: 8px;
    top: 70%;
  }
}

body table thead {
  border-bottom: 1px solid $mainBorderColor;
  tr {
    height: 44px;
  }
}

body .ui-datepicker .ui-datepicker-calendar td a:hover {
  color: #FFFFFF;
}

body input.ui-inputfield.newTargetPageField {
  width: 43px!important;
}

body .navigation-select {
  height: 22px;
  min-width: 65px;
  width: 65px;
  margin: 2px;
  display: flex;
  align-items: center;
  font-weight: 400;
  &:hover {
    background: #354052;
    color: #FFFFFF!important;
  }

  span.ui-icon.ui-icon-triangle-1-s.ui-c,
  .ui-selectonemenu-label.ui-inputfield {
    color: inherit!important;
  }
}

.ui-selectonemenu-trigger.ui-state-default.ui-corner-right.ui-state-hover{
  color: #FFFFFF!important;
}

body .navigation-btn {
  background: linear-gradient(0deg, #E0E4EB 0%, #F2F7FA 96.94%);
  border-color: #CED0DA!important;
  border-radius: 4px;
  color: #354052 !important;
  height: 22px;
  min-width: 65px;
  font-weight: 400;

  &:hover {
    background: #354052;
    color: #FFFFFF!important;
  }

  .ui-button-text {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.tableWrapper a {
  color: #5ca774!important;
}

body .ui-inputtextarea.ui-state-focus {
  border-color: #5C4DE3!important;
}

body .ui-inputtextarea.ui-state-hover {
  border-color: #CED0DA !important;
}

body .ui-selectonemenu-label.ui-inputfield {
  color: #354052!important;
}

body .ui-calendar button.ui-button-icon-only:hover {
  background: #2F6B42;
  color: #ffffff;
  border-color: #2F6B42;
}

body .ui-datatable .ui-datatable-scrollable-header, body .ui-datatable .ui-datatable-scrollable-footer {
  background: transparent!important;
}

body .ui-fileupload-simple > span:first-child {
  height: 36px;
  min-width: 86px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border-color: #5CA774;
  &:hover {
    background: #2F6B42;
    border-color: #2F6B42;
  }
}

body textarea {
  border-color: #D4D6D9!important;
}