<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Configuration</title>

	<style>
.ui-fieldset {
	border: 1px solid #dee2e6;
	background: #ffffff;
	color: #495057;
	padding: 1rem;
	border-radius: 10px;
}
</style>
	<h:outputStylesheet name="css/primeflex.min.css" />

</h:head>




<h:body>







	<div class="ui-fluid p-formgrid p-grid">
		<div class="p-field p-col">
			<p:outputLabel value="#{msg['label.formate']}" />
			<p:selectOneMenu id="option"
				value="#{addEditView.configurationView.selectedMsgFormat}">
				<f:selectItems value="#{addEditView.configurationView.msgFormates}" />
				<!-- <f:facet name="footer">
                        <p:divider styleClass="p-mt-0" />
                        <h:outputText value="3 options" style="font-weight:bold;"/>
                    </f:facet> -->
			</p:selectOneMenu>
		</div>




		<div class="p-field p-col">
			<p:outputLabel for="@next" value="#{msg['label.syntax']}" />
			<p:selectOneMenu id="option2"
				value="#{addEditView.configurationView.selectedSyntaxVersion}">
				<f:selectItems
					value="#{addEditView.configurationView.syntaxVersions}" />

			</p:selectOneMenu>
		</div>


		<div class="p-field p-col">
			<p:outputLabel value="#{msg['label.type']}" />
			<p:selectOneMenu id="option3"
				value="#{addEditView.configurationView.selectedFinMsgType}">
				<f:selectItems value="#{addEditView.configurationView.finMsgTypes}" />

			</p:selectOneMenu>
		</div>

		<div class="p-field p-col">
			<p:outputLabel value="#{msg['label.duplicateCheck']}" />
			<div>

				<p:selectOneRadio id="console"
					value="#{addEditView.configurationView.duplicateType}"
					unselectable="true">
					<f:selectItem itemLabel="#{msg['label.fullDup']}" itemValue="1" />
					<f:selectItem itemLabel="#{msg['label.partDup']}" itemValue="2" />
				</p:selectOneRadio>
			</div>
		</div>
	</div>



	<!-- =============================================================================================================================================== -->
	<p:treeTable value="#{addEditView.configurationView.configFieldsRoot}"
		var="node" selectionMode="checkbox"
		selection="#{addEditView.configurationView.selectedNodes}">
		<p:column headerText="Name">
			<h:outputText value="#{node.desc}" />
		</p:column>
		<p:column headerText="Size">
			<h:outputText value="#{document.tag}" />
		</p:column>

	</p:treeTable>



















</h:body>
</html>