<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Configuration</title>

	<style>
.ui-fieldset {
	border: 1px solid #dee2e6;
	background: #ffffff;
	color: #495057;
	padding: 1rem;
	border-radius: 10px;
}
</style>

</h:head>




<h:body>

	<h:form>

		<p:growl id="msg" showDetail="true" escape="false" />




<div class="card" style="display:inline-block">

		<div class="card" style="padding: .25rem; width: 50%; float: left;">
		
		
			<p:fieldset legend="BicCodes*" style="border-radius: 10px;">

				<p:pickList id="PojoPickList" value="#{preConditionView.bics}"
					var="bic" itemValue="#{bic}" itemLabel="#{bic.code}"
					showCheckbox="true" filterMatchMode="contains"
					converter="#{bicConverter}" responsive="true">

					<f:facet name="sourceCaption">#{msg['label.picklist.bic.avaliable']}</f:facet>
					<f:facet name="targetCaption">#{msg['label.picklist.bic.selected']}</f:facet>

					<p:ajax event="transfer"
						listener="#{preConditionView.onTransferBic}" update="msg" />
					<p:ajax event="select" listener="#{preConditionView.onSelectBic}"
						update="msg" />
					<p:ajax event="unselect"
						listener="#{preConditionView.onUnselectBic}" update="msg" />
					<p:ajax event="reorder" listener="#{preConditionView.onReorderBic}"
						update="msg" />



					<p:column style="width:94%">
						<div class="p-d-flex p-ai-center">
							<h:outputText value="#{bic.code}" />
						</div>
					</p:column>

				</p:pickList>



			</p:fieldset>


		</div >
		<div style="padding: .25rem; width: 50%; float: left;">
			<p:fieldset legend="UUMID Check" style="border-radius: 10px;">

				<p:pickList id="pickList" value="#{preConditionView.UUMIDCheck}"
					var="UUMIDCheck" itemLabel="#{UUMIDCheck}"
					itemValue="#{UUMIDCheck}">

					<f:facet name="sourceCaption">#{msg['label.availableFields']}</f:facet>
					<f:facet name="targetCaption">#{msg['label.selectedFields']}</f:facet>

				</p:pickList>

			</p:fieldset>


		</div>
</div>

		<div class="card" style="width:50%">
 			<p:panelGrid columns="2" layout="grid"
				styleClass="showcase-text-align-center">
				<p:outputLabel>#{msg['label.msgUnite']}</p:outputLabel>
				<p:inputText />



				<p:outputLabel>#{msg['label.msgSource']}</p:outputLabel>
				<p:inputText />

				 
					<p:outputLabel>#{msg['label.msgUserRef']}</p:outputLabel>
					<p:inputText />
				 

			 
					<p:outputLabel>#{msg['label.correspondentBic']}</p:outputLabel>
					<p:inputText />
				 
			</p:panelGrid>
		</div>

				<div class="card" style="width:50%">
				    <p:button value="${msg['SAVE']}" style=" margin-right: .5rem"/>
				    <p:button value="${msg['CANCEL']}" />
				
				
				</div>
		
	</h:form>
</h:body>
</html>